body {
    background: rgb(255, 255, 255);
  }
  
  .container {
    max-width: 960px;
  }
  
  
  .pricing-header {
    max-width: 700px;
  }
  .fs-4{
    text-shadow: rgb(223, 5, 132);
  }
  .card-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2; 
    z-index: 0;
  }
  
  .card-header,
  .card-body {
    z-index: 1;
  }
  
  .custom-header {
    background-color: #1875ee; 
  }